{% extends 'base.html' %}

{% block content %}
  <h1>Gastos por categoría</h1>
  <table>
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Importe total gastado</th>
        <th>Cantidad de movimientos</th>
        <th>Importe límite</th>
        <th>Porcentaje gastado</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in data %}
        <tr>
          <td>{{ categoria.nombre_categoria }}</td>
          <td>{{ categoria.importe_total_gastado }}</td>
          <td>{{ categoria.cantidad_movimientos }}</td>
          <td>{% if categoria.importe_limite_categoria %}${{ categoria.importe_limite_categoria }}{% endif %}</td>
          <td>
            {% if categoria.porcentaje_gastado is not None %}
              {{ categoria.porcentaje_gastado|floatformat:2 }}%
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}